account/__pycache__/__init__.cpython-310.pyc
ideaportal/__pycache__/__init__.cpython-310.pyc
account/__pycache__/admin.cpython-310.pyc
ideaportal/__pycache__/settings.cpython-310.pyc
ideaportal/__pycache__/urls.cpython-310.pyc
