{% include 'components/navbar_reg.html' %}

<!DOCTYPE html>
<html>

    <head>
        <title>NHS x IXN Ideas Portal</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
    </head>

    <body>
        <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }
        .masthead {
            background: #3398E1;
            height: auto;
            padding-bottom: 15px;
            padding-top: 10px;
        }
    </style>


<div class="container">
  <div class="row">
    
    <div class="col-md-12 card mb-4  mt-5 left  top">
      
      <div class="card-body">
        <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="{% url 'post_detail' orgslug pk slug %}">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>
<center>
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
      </center>
        <p class=" text-muted">{{ object.author }} | {{ object.created_on }}</p>
        <p class="card-text ">{{ object.description | safe }}</p>
        {% if custom %}
        <p class=" text-muted">PRIDAR Classification:</p>
        <br>

        <table class="table">
          <thead>
            <tr>
              <th>Criteria</th>
              <th>True</th>
              <th>False</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Is in sandbox?</td>
              {% if in_sandbox %}
              <td> <span>&#10004;</span> </td>
              <td></td>
  
            </tr>    <tr>
              {% else %}
              <td>  </td>
              <td><span>&#10004;</span></td>
            </tr>    <tr>
              {% endif %}
          </tr>
          <tr>
            <td>Is released and supported?</td>
            {% if is_released_and_supported %}
            <td> <span>&#10004;</span> </td>
            <td></td>

          </tr>    <tr>
            {% else %}
            <td>  </td>
            <td><span>&#10004;</span></td>
          </tr>    <tr>
            {% endif %}
          </tr>
          <tr>
            <td>Is an open source partnership?</td>
            {% if is_open_source_partnership %}
            <td> <span>&#10004;</span> </td>
            <td></td>

          </tr>    <tr>
            {% else %}
            <td>  </td>
            <td><span>&#10004;</span></td>
          </tr>    <tr>
            {% endif %}

          </tr>    <tr>
            <td>Has Nice Tier 1+ DTAC evidence in place</td>
            {% if NICE_Tier1_DTAC_evidence_in_place %}
            <td> <span>&#10004;</span> </td>
            <td></td>

          </tr>    <tr>
            {% else %}
            <td>  </td>
            <td><span>&#10004;</span></td>
          </tr>    <tr>
            {% endif %}

          </tr>    <tr>
            <td>Has NICE Tier 2+ DTAC evidence in place</td>
            {% if NICE_Tier2_DTAC_evidence_in_place %}
            <td> <span>&#10004;</span> </td>
            <td></td>

          </tr>    <tr>
            {% else %}
            <td>  </td>
            <td><span>&#10004;</span></td>
          </tr>    <tr>
            {% endif %}

          </tr>    <tr>
            <td>Risks and mitigations are public?</td>
            {% if risk_and_mitigations_are_public %}
            <td> <span>&#10004;</span> </td>
            <td></td>

          </tr>    <tr>
            {% else %}
            <td>  </td>
            <td><span>&#10004;</span></td>
          </tr>    <tr>
            {% endif %}

          </tr>    <tr>
            <td>CE mark/DCB register?</td>
            {% if ce_mark_dcb_register %}
            <td> <span>&#10004;</span> </td>
            <td></td>

          </tr>    <tr>
            {% else %}
            <td>  </td>
            <td><span>&#10004;</span></td>
          </tr>    <tr>
            {% endif %}


            <td>ISO supplier?</td>
            {% if iso_supplier %}
            <td> <span>&#10004;</span> </td>
            <td></td>

          </tr>    <tr>
            {% else %}
            <td>  </td>
            <td><span>&#10004;</span></td>
          </tr>    <tr>
            {% endif %}

          </tr>    <tr>
            <td>Is safety officer stated?</td>
            {% if safety_officer_stated %}
            <td> <span>&#10004;</span> </td>
            <td></td>

          </tr>    <tr>
            {% else %}
            <td>  </td>
            <td><span>&#10004;</span></td>
          </tr>    <tr>
            {% endif %}


          </tr>    <tr>
            <td>User KPIs in an AI Pathway are defined?</td>
            {% if user_kpis_is_an_ai_pathway_are_defined %}
            <td> <span>&#10004;</span> </td>
            <td></td>

          </tr>    <tr>
            {% else %}
            <td>  </td>
            <td><span>&#10004;</span></td>
          </tr>    <tr>
            {% endif %}

          </tr>    <tr>
            <td>User to board approval obtained?</td>
            {% if user_to_board_approval_obtained %}
            <td> <span>&#10004;</span> </td>
            <td></td>

          </tr>    <tr>
            {% else %}
            <td>  </td>
            <td><span>&#10004;</span></td>
          </tr>    <tr>
            {% endif %}

          </tr>    <tr>
            <td>Cost of dev and support agreed?</td>
            {% if cost_of_dev_and_support_agreed %}
            <td> <span>&#10004;</span> </td>
            <td></td>

          </tr>    <tr>
            {% else %}
            <td>  </td>
            <td><span>&#10004;</span></td>
          </tr>    <tr>
            {% endif %}

          </tr>    <tr>
            <td>IP agreement in place?</td>
            {% if ip_agreement_in_place %}
            <td> <span>&#10004;</span> </td>
            <td></td>

          </tr>    <tr>
            {% else %}
            <td>  </td>
            <td><span>&#10004;</span></td>
          </tr>    <tr>
            {% endif %}

          </tr>    <tr>
            <td>IG agreement in place?</td>
            {% if ig_agreements_in_place %}
            <td> <span>&#10004;</span> </td>
            <td></td>

          </tr>    <tr>
            {% else %}
            <td>  </td>
            <td><span>&#10004;</span></td>
          </tr>    <tr>
            {% endif %}

          </tr>    <tr>
            <td>Data and model is agreed?</td>
            {% if data_and_model_agreed %}
            <td> <span>&#10004;</span> </td>
            <td></td>

          </tr>    <tr>
            {% else %}
            <td>  </td>
            <td><span>&#10004;</span></td>
          </tr>    <tr>
            {% endif %}


          </tr>
         
            </tbody>
        </table>
        {% else %}
        {% endif %}
        <br>
        {% if object.image %}
        
        <center>
          <img src="{{ object.image.url }}" style="max-width:50%;max-height:50%;">
          {% else %}
          {% endif %}
      </center>
        <hr>
                    <form action="{% url 'like_idea' orgslug idea.pk idea.slug %}" method="post">
                        {% csrf_token %}
                        {% if user.is_authenticated %}

                        {% if liked %}
                        <button id="submit-button" type="submit" name="idea_id" value="{{ idea.id }}" class="nhsuk-button nhsuk-button--secondary">Dislike</button>
                        <a href="{% url 'comment_idea' orgslug idea.pk idea.slug %}" class="nhsuk-button">Comment</a>
                        {% else %}
                        <button id="submit-button" type="submit" name="idea_id" value="{{ idea.id }}" class="nhsuk-button ">Like</button>
                        <a href="{% url 'comment_idea' orgslug idea.pk idea.slug %}" class="nhsuk-button">Comment</a>
                        {% endif %}
                        {% else %}
                        <a href="{% url 'enter' %}"><p>Login</a> to like </p>
                        {% endif %}

                        <p>{{ total_likes }} Likes</p>
                      </form>
                      <br>
<br>
                      <br>
                      <h2>Comments:</h2>
                      {% if idea_comment %}
                      Hi
                      {% endif %}

                      {% if not idea_comments %}
                      <p class=" text-muted">

                      No comments yet to display:<br><br>

                      <a href="{% url 'comment_idea' orgslug idea.pk idea.slug %}" class="nhsuk-button nhsuk-button--secondary">Comment</a>

                      {% else %}
                      {% for comment in idea_comments %}
                      <a>
                      <div class="col-md-12 card mb-4  mt-5 left  top">
      
                        <div class="card-body">
            
                      <h3>{{ comment.title }} </h3>
                      <p class="card-text ">{{ comment.created_on }} | {{ comment.author }} 
                      </p>
                      




                      {{ comment.comment }} <br><br>
                      {% if comment.image %}
                      <br>
                      <a href="{{ comment.image.url }}">View attached image</a>
                      {% else %}
                      {% endif %} 
                  </div>

                </div>


              </a>
                      {% endfor %}

                      {% endif %}
                      
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% include 'components/footer.html' %}
