{%extends "bases/basePoll.html" %}

{%block nav_bar%} {% include 'components/navbar_blog.html' %} {%endblock%}

{% block section_title %} <!-- Title --> {%endblock%}

{%block contents%}
    {% if post_list %}
        {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text text-muted h6">Department: {{ post.department }} </p>
                    <br>
                    <p class="card-text">{{post.description|slice:":200" }}...</p>
                    <p class="card-text"> Start Date: {{post.startDate }} <br> End Date: {{post.endDate  }}</p>
                    <p class="card-text">                                 Severity: {{post.severity|capfirst}} </p>
                    <a href="{% url 'post_detail' org.slug post.pk post.slug %}" class="nhsuk-button">Read More</a>
                    <a href="{% url 'ideaform' org.slug post.pk post.slug %}" class="nhsuk-button nhsuk-button--secondary">Suggest Idea</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>
            {%block empty_poll_messgae%}
            There are currently no active polls - check regularly for updates
            {%endblock%}
        </h3>
    {% endif %}
{%endblock%}
