{% include 'components/navbar_reg.html' %}


<div class="nhsuk-width-container app-width-container--full">

  
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <div class="card-body">
          <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="{{request.META.HTTP_REFERER}}">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
      </div>

        <h1 class="govuk-heading-l">Access denied</h1>
        <p class="govuk-body">
          You do not have permission to access this page.
        </p>
        <p class="govuk-body">
          This could be because you do not have the correct permissions to access this organisation's page.<br>
          Please contact an administrator or portal manager to request access if this is the case. 
        </p>
      </div>
    </div>
  </main>
</div>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



{% include 'components/footer.html' %}

          <!-- Data Layer -->
          <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  </body>

</html>
