{% include 'components/navbar_reg.html' %}

<!DOCTYPE html>
<html>

    <head>
        <title>Django Central</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
    </head>

    <body>
        <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }
        .masthead {
            background: #3398E1;
            height: auto;
            padding-bottom: 15px;
            padding-top: 10px;
        }
    </style>


<div class="container">
  <div class="row">
    
    <div class="col-md-15 card mb-4  mt-5 left  top">
      
      <div class="card-body">

        <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="{% url 'pending_ideas' orgslug %}">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>

</div>
<form action="" method="post">
  {% csrf_token %}

<h1>{% block title %}{{ object.title }}{% endblock title %}</h1>
<h3 class=" text-muted"> Challenge: {{ idea.post.title }} </h3>
<p class=" text-muted">{{ idea.author }} | {{ idea.created_on }}</p>

{% if object.status %}
<p class=" text-muted">Status: Approved</p>
<div class="nhsuk-form-group">
  

</div>
{% else %}
<p class=" text-muted">Status: Not approved</p>
{% endif %}
<p class="card-text ">{{ object.description | safe }}</p>
<hr>



<button formaction="{% url 'approve_idea' orgslug idea.pk idea.slug %}" type="submit" name="idea_id" value="{{ idea.id }}" class="nhsuk-button"  onclick="return confirm('Are you sure you want to approve this item?');">Approve</button>

<button formaction="{% url 'reject_idea' orgslug idea.pk idea.slug %}" id="submit-button" type="submit" name="idea_id" value="{{ idea.id }}" class="nhsuk-button nhsuk-button--secondary" onclick="return confirm('Are you sure you want to reject this item?');">Reject</button>


</form>
                      <br>

<br>
                      <br>

                      <div class="nhsuk-header__search-wrap beta-header__search-wrap js-show" id="wrap-search">

                      </div>

                    

      </div>

    </div>


  </div>

</div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% include 'components/footer.html' %}

<!-- <script>
var result = confirm("Want to delete?");
if (result) {
    //Logic to delete the item
}
</script> -->