{% include 'components/navbar.html' %}






  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Level one</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Level two</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Level three</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#">Back to Level three</a></p>
    </div>
  </nav>

  <div class="nhsuk-width-container ">

    <main class="nhsuk-main-wrapper " id="maincontent" role="main">
      {% csrf_token %}
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1>
            Content page template
          </h1>

          <a href="{% url 'blogfeed_main' %}">Visit blog</a>
        </div>
      </div>

    </main>
  </div>

{% include 'components/footer.html' %}

</html>


<script src="/iframe-resizer/js/iframeResizer.contentWindow.min.js"></script>
