{% include 'components/navbar_reg.html' %}

<style>
    body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: #fdfdfd;
}
.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}
.masthead {
    background: #3398E1;
    height: auto;
    padding-bottom: 15px;
    padding-top: 10px;
}
</style>
<br>

<div class="container">
    <div class="card-body">
        <div class="nhsuk-back-link">
          <a class="nhsuk-back-link__link" href="{% url 'enter'  %}">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Go back</a>
      
        </div>
    </div>

    <h1 class="font-weight-bold mt-3">Password reset complete</h1>
    <hr>
    <p>Your password has been set. You may go ahead and log in now.</p>                 
    <a href="{% url 'enter' %}" class="btn btn-primary">Log in</a>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% include 'components/footer.html' %}
