{% include 'components/navbar_reg.html' %}

{% load static %}


  
  <div class="nhsuk-width-container">
          
      
      
  
      <main class="nhsuk-main-wrapper" id="main-content" role="main">

        
  
          
  
  <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
  
          
  
          <form method="post" action="">
            {% csrf_token %}
              <input type="hidden" id="CorrelationId" name="CorrelationId" value="68ce81df-f1ad-44c7-8694-84290784601e" />
              <div class="nhsuk-form-group " id="question_date">
                <fieldset class="nhsuk-fieldset" aria-describedby="nhs-number-hint">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                        <h1 id="page_h1_title" class="nhsuk-fieldset__heading">
                            Select your age group:
                        </h1>
                    </legend>
                    <div id="nhs-number-hint">
                        <p> </p>
                        <div class="nhsuk-hint" id="example-hint">
                            <p>This will determine what type of posts that you will see in your feeds</p>
                        </div>
                        
                    </div>

                                        {{ ageform }}

                    
  
              <button id="submit-button" type="submit" class="nhsuk-button">Continue</button>
  
  
      </div>
  </div>
  
      </main>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
 


  
  {% include 'components/footer.html' %}
  
  </body>
  </html>