{% include 'components/navbar_reg.html' %}

{% load static %}

<section class="nhsuk-hero nhsuk-hero--image nhsuk-hero--image-description">
  <script>
    function randomImage() {
        var images =[ 
          
              
              
              "{% static 'frontend/imgs/teamwork.jpg' %}",
              
              "{% static 'frontend/imgs/growth.jpg' %}",
              
              "{% static 'frontend/imgs/collaboration.jpg' %}",
          
              "{% static 'frontend/imgs/problemsolving.jpeg' %}",
           
        ]; 

        var size = images.length;
        var x = Math.floor(size * Math.random());
        var element = document.getElementsByClassName('nhsuk-hero--image');
        if (element.length > 0) {
            element[0].style["background-image"] = "url(" + images[x] + ")";
        }
    }

    document.addEventListener("DOMContentLoaded", randomImage);
</script>
<div class="nhsuk-hero__overlay">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero-content">
          <h1 class="nhsuk-u-margin-bottom-3">ML/AI Ideas Portal</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">A space for NHS staff and members of the public to work together to solve challenges facing modern-day healthcare.</p>
          <span class="nhsuk-hero__arrow" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<div class="nhsuk-width-container app-width-container--full">
  <main class="nhsuk-main-wrapper app-main-wrapper--no-padding app-homepage" id="maincontent" role="main">
    
        




      
          


      
          

<section class="nhsuk-section">
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    
      <div class="nhsuk-grid-column-full app-section__content">
         <div class="nhsuk-u-reading-width">
           <br>
           <br>

          
            <h2>Who are we?</h2>
          
          
            <p class="app-section__description">This portal is a platform for people from a range of backgrounds and sectors within the NHS and beyond to contribute to and raise challenges facing modern-day healthcare in the U.K.</p>
          
          </div>
          
            
              <div class="nhsuk-action-link">
<a class="nhsuk-action-link__link" href="{% url 'auth_username' %}" >
  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M0 0h24v24H0z" fill="none"></path>
    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
  </svg>
  <span class="nhsuk-action-link__text">Register with us</span>
</a>
</div>

            
          


<div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link" href="{% url 'logout' %}" >
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="nhsuk-action-link__text">Return to login menu</span>
  </a>
  </div>

            
          
        </div>
    
  </div>
</div>
</section>
      
          

<section class="nhsuk-section">
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    
      <div class="nhsuk-grid-column-full app-section__content">
         <div class="nhsuk-u-reading-width">
          
            <h2>Mission statement</h2>
          
          
          </div>
          
            
              
              <div class="nhsuk-u-reading-width">
                <p data-block-key="fd468">As a company - our goal is to increase engagement with our services in order to allow the community itself to shape the type of products that they require</p>
                <ul><li data-block-key="xafhe">Encourage collaboration from a range of backgrounds to produce effective solutions to problems facing the NHS</li><li data-block-key="toevw">Create a fair, fun and engaging way for individuals and teams to work together</li><li data-block-key="712j8">Inreace transparency between communites and better understanding of the issues faced</li></ul><p data-block-key="71k3n">
              </div>
            
          
            
              <div class="nhsuk-action-link">
<a class="nhsuk-action-link__link" href="https://www.nhs.uk/conditions/coronavirus-covid-19/staying-at-home-to-avoid-getting-coronavirus/how-to-get-medical-help-from-home/" >
  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M0 0h24v24H0z" fill="none"></path>
    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
  </svg>
  <span class="nhsuk-action-link__text">Find out how to get medical help</span>
</a>
</div>

            
          
        </div>
    
  </div>
</div>
</section>
      
          

<section class="nhsuk-section">
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    
      <div class="nhsuk-grid-column-full app-section__content">
         <div class="nhsuk-u-reading-width">
          
            <h2>User Types and Roles</h2>
          
          
            <p class="app-section__description">Find the service you need and book appointments online.</p>
          
          </div>
          
            
              


<ul class="app-list-signage app-list-signage--two-columns">

  <li>
    <a href="https://www.nhs.uk/service-search/find-a-pharmacy/">
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
      </svg>
    Admins
    </a>
  </li>

  <li>
    <a href="https://www.nhs.uk/Service-Search/Dentists/LocationSearch/3">
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
      </svg>
    Portal Managers
    </a>
  </li>

  <li>
    <a href="https://www.nhs.uk/service-search/GP/LocationSearch/4">
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
      </svg>
    Challenge managers
    </a>
  </li>

  <li>
    <a href="https://www.nhs.uk/Service-Search/Accident-and-emergency-services/LocationSearch/428">
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
      </svg>
    NHS Staff
    </a>
  </li>

  <li>
    <a href="https://www.nhs.uk/Service-Search/Urgent-Care/LocationSearch/1824">
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
      </svg>
    Public
    </a>
  </li>

</ul>


            
          
            
     
            
          
            
              



          
        </div>
    
  </div>
</div>
</section>
      
          


          

          

      
          


    
  </main>
</div>
    

{% include 'components/footer.html' %}

          <!-- Data Layer -->
          <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  </body>

</html>
